@import '../../utils/VarAndMixins.scss';

.changeNameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__responseBox {
        display: none;

        &.isVisible {
            padding: 1rem;
            background-color: $white-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $black-color;

            & span {
                font-size: 1rem;
                font-weight: bold;
            }

        }
    }
}

.close-button {
    display: block;
    width: 8rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;  
    background-color: $green-light-color;
    color: $white-color;
}


.edit-button {
    display: block;
}

.edit-button.hidden {
    display: none;
}

.changeNameForm {
    display: none;
    padding: 1rem 0 0 0;
    flex-direction: column;
    align-items: center;

    &.isVisible {
        display: flex;
    }

    &__fieldset {
        // display: flex;
        width: 50%;
        padding: 1rem;

        @media (max-width: 390px) {
            width: 80%;
        }
    }

    &__buttonsBox {
        display: flex;
        justify-content: center;
        gap: 2rem;

        &__submitBtn,
        &__cancelBtn {

            display: block;
            width: 8rem;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 1rem;
            background-color: $green-light-color;
            color: $white-color;

            &:hover {
                cursor: pointer;
                background-color: $green-dark-color;
            }

            &:disabled {
                opacity: 0.5;
                color: $grey-dark-color;
            }
        }

    }

    &__title {
        font-size: 1.5rem;
    }

    &__label {
        margin-bottom: 0.5rem;
    }

    &__input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}