@import '../../utils/VarAndMixins.scss';


.featuresGrid {
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;


  @media (min-width: 920px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

  }
}