
//== Variables 

$white-color: #fff;
$black-color: #222;
$green-light-color: #00bc77;
$green-Xlight-color: #a8edd3;
$green-dark-color: #196645;
$grey-dark-color: #2c3e50;
$grey-light-color: #bdc3c7;
$grey-Xlight-color: #f2f2f2;
$eggplant-color: #12002b


//== Mixins