@import '../../utils/VarAndMixins.scss';

.mainUserPg {
  min-height: calc(100vh - 8.75rem);
  padding: 1.5rem 0 13.75rem;
  background-color: $eggplant-color;

  @media (min-width: 920px) {
    padding: 1.5rem 0 0.3rem;
  }
}

.edit-button,
.goToSignIn-button {
  background-color: $green-light-color;
  color: $white-color;
  font-weight: bold;
  padding: 0.625rem;

  &:hover {
    background-color: $green-dark-color;
  }
}

.goToSignIn-button_link {
  text-decoration: none;
  color: $white-color;

  &:hover {
    cursor: default;
  }
}

.header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white-color;

  & h1 {
    text-align: center;
  }
}

.sorryEmoji {
  font-size: 5rem;
  color: $white-color;
}